<% set_meta_tags title: data.site.name +
  " | " + data.site.description,
  full_title: false %>

<div class="flex-col w-full h-full justify-between bg-teal-300 flex" style="background: linear-gradient(180deg, #3E40F8 0%, #3537F8 100%);">
  <div class="font-bold text-3xl text-white text-center mx-4 my-2">
    Still guessing where<br>
    it’s all going?
  </div>
  <div id="el" class="flex-1 flex justify-around overflow-x-hidden relative" style="width: 300vw; transition-duration: .3s; transition-timing-function: ease-out;">
    <img src="/images/1.png" class="object-contain select-none">
    <img src="/images/2.png" class="object-contain select-none">
    <img src="/images/1.png" class="object-contain select-none">
  </div>
  <div class="text-2xl text-center text-white font-bold my-2">
    Amal magically breaks <br>
    down your spending
  </div>
  <div class="rounded-full bg-green-400 py-2 mx-8 mt-2 mb-4 font-bold text-green-700 text-xl text-center ">
    get early access
  </div>
</div>

<script>
  var initialX, offsetX = 0;
  var curScreen = 0, numScreens = 3;
  var screenWidth;

  function downHandler(ev) {
    initialX = ev.clientX;
    el.onpointermove = moveHandler;
  }

  function moveHandler(ev) {
    el.style.left = offsetX + (ev.clientX - initialX) + 'px';
  }

  function cancelHandler(ev) {
    var offset = ev.clientX - initialX;
    var nextScreen;

    if(offset > 0) {
      // swiped right
      curScreen = curScreen - 1 < 0 ? curScreen : curScreen - 1;
    } else {
      // swiped left
      curScreen = curScreen + 1 < numScreens ? curScreen + 1 : curScreen;
    }
    console.log("curScreen", curScreen, offset);

    // Latch to nearest edge
    offsetX = -1 * curScreen * screenWidth;
    el.style.left = offsetX + 'px';

    // release move binding
    el.onpointermove = null;
  }

  document.addEventListener('DOMContentLoaded', function(e) {
    // Register event handlers
    el.onpointerdown = downHandler;
    el.onpointercancel = cancelHandler;
    el.onpointerup = cancelHandler;

    screenWidth = el.clientWidth / 3;
  });
</script>